[defaults]
inventory = inventory.ini
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
stdout_callback = default
callback_plugins = ./callback_plugins
callbacks_enabled = progress

[ssh_connection]
pipelining = True
